<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png">
</head>
<body>
    <div class="container">
        {% block main %}{% endblock %}
    </div>

    <footer class="footer">
        © 2025 Althsec
    </footer>
</body>
</html>
